.bottom-container {
  position: relative;
  text-align: center;
}

.bottom-image {
  width: 90%;
  height: 180px;
  margin-bottom: 60px;
}

h2, h4 {
  font-family: 'Outfit';
}

.bottom-container h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.bottom-container h4 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-container span{
    margin-left: 5px;
    margin-top: 5px;
}
