.container {
  position: relative;
}


.background-image {
  position: relative;
  top: 0;
  left: 5%;
  width: 90%;
}

.text-container {
  
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-40%, -25%);
  text-align: center;
}

h1, h2, h6 {
  font-family: 'Outfit';
}

.text-h1 {
  position: relative;
  font-size: 38px;
  margin-left: 200px;
}

.text-h3 {
  margin-top: 20px;
  margin-left: 180px;
}

.text-h6 {
  margin-left: 180px;
  width: 500px;
  text-align: center;
}

.scroll-containers-wrapper {
  position: absolute;
  top: 10%;
  right: 15%;
  display: flex;
  justify-content: flex-end;
}

.scroll-containers {
  display: flex;
  flex-direction: row;
  gap: 20px; 
}

.marquee-container-1, .marquee-container-2 {
  overflow: hidden;
  height: 600px;
  width: 100px;  
}

.marquee-content-1{
  display: flex;
  flex-direction: column;
  animation: scroll-up 10s linear infinite; 
} 
.marquee-content-2 {
  display: flex;
  flex-direction: column;
  animation: scroll-down 10s linear infinite;
}

.marquee-item-1, .marquee-item-2 {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}



@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}




.text-h1 span{

  color: #7234f7; 
}