.images-wrapper {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 50vh; 
}

.image-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 30%; 
}

.image-container1{
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 30%; 
}
.image-container2 {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 30%;
  margin-top: 400px;
}

.head-text {
  text-align: center;
  font-family: 'Outfit';
}


.head-text span {
  margin-left: 8px ;
  color: purple; 
}

.bottom-text{
  width: 800px;
  margin-left:220px;
  margin-top: 320px;
  text-align: center;
  font-family: 'Outfit';
}








@media (max-width: 768px) {
  .images-wrapper {
    flex-direction: column; /* Stack images vertically */
    justify-content: center; /* Center items vertically */
    height: auto; /* Adjust height for mobile */
    padding: 20px; /* Add some padding */
  }

  .image-container,
  .image-container2 {
    width: 100%; /* Full width for each image */
    margin: 10px 0; /* Add margin between the stacked images */
  }

  .image-container2 {
    margin-top: 0; /* Remove top margin for mobile */
  }
}
